body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

header img {
    width: 150px;
}

#hamburger {
    display: none;
    cursor: pointer;
}

#searchButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav {
    display: flex;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    #hamburger {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        z-index: 1;
    }

    nav.active {
        display: flex;
    }

    nav a {
        margin: 10px 0;
        text-align: center;
    }

    #searchButton {
        order: 1;
    }
}

.video-container {
    position: relative;
    margin-bottom: 20px; /* Spacing between videos */
    text-align: center; /* Center-align content */
}

.video-container h1 {
    margin-bottom: 10px; /* Add space below the "Vidio" heading */
}

.video-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; /* Stack elements vertically */
}

.video-details h2 {
    margin-bottom: 10px; /* Add space below the title */
}

.download-button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
}

video {
    width: 100%;
}
